/*************************************************************************
* CSS INDEX - styles.css
* 1. Imports
* 2. General
* 3. Mobile
* 4. Tablet
* 5. Desktop
*************************************************************************/

/************************************************************************
* 1. Imports
*************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/************************************************************************
* 2. General 
*************************************************************************/
body {
    background-color: #0a0e14;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

ul {
    list-style: none;
    padding-left: 0px;
}

/************************************************************************
* 3. Mobile
*************************************************************************/
#info-box {
    margin-left: auto;
    margin-right: auto;
    background-color: #1f2430;
    text-align: center;
    border-radius: 15px;
    max-width: 400px;
    filter: drop-shadow(0px 2px 5px black);
}

li {
    font-size: 1.2em;
    padding: .5em;
}

li:hover {
    background-color: white;
    color: #0a0e14;
    transition: background 400ms, color 400ms;
}

#name-heading {
    padding-top: .5em;
}

#info-box-img {
    width: 200px;
    border: 3px solid white;
    border-radius: 1000px;
}

#last-updated {
    padding-bottom: 1em;
}

#class-heading {
    padding: .5em;
    background-color: #293241;
}

ul a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
ul a:visited {
    color:white /* #44546e*/;
}

.bottom-info {
    font-size: .85em;
    background-color: #181c25;
    padding-top: .1em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/************************************************************************
* 4. Tablet
*************************************************************************/


/************************************************************************
* 5. Desktop
*************************************************************************/