@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background: #2e303f;
    color: white;
    margin-left: 2em;
}

table {
    border-collapse: collapse;
    zoom: 150%;
}

thead td, tfoot td {
    background: #4e5169;
    padding: .5em;
    text-align: center;
}

td, th {
    text-align: center;
    padding: .3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: solid 1px #4e5169;
}

/* Every other row a different color */
tr:nth-child(even) {
    background: #3a3c4e;
}