/* Font: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Color pallet variables */
/* https://coolors.co/000000-1a1a1a-013333-00dcb4-edeff5-ffffff */
:root {
    --color-black: black;
    --color-gray: #1a1a1a;
    --color-turq: #013333;
    --color-mint: #00DCB4;
    --color-offw: #EDEFF5;
    --color-white: white;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--color-black);
    color: var(--color-white);
    overflow-x: hidden;
}

/***********************
*   Navigation
***********************/
.nav-link, .nav-link:visited{
    color: var(--color-white);
    text-decoration: none;
    padding: 1em;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: .39em;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 75%);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 1em;
}

.nav-link:hover {
    background: var(--color-gray);
    border-bottom: solid 6px var(--color-mint);
    transition: background 300ms;
}

.active-page {
    border-bottom: solid 6px var(--color-mint);
}

.menu {
    display: none;
}

/***********************
*   Header
***********************/
header {
    display: flex;
    justify-content: center;
    pointer-events: none;
    background-image: url("images/backgrounds/header-banner.png");
    background-position: 0px 63px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 300px;
    height: 300px;
}

.subpage-header {
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0), rgb(0, 0, 0, .3), rgba(0, 0, 0, 1)),
    url('images/backgrounds/header-banner.png');
    background-attachment: scroll;
    background-position: 0px 0px;
}

.header-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: 110px;
}

#header-name {
    margin: 0;
    font-size: 3em;
}

#header-banner {
    height: 300px;
}

#header-sub {
    font-size: 1.6em;
    font-weight: 300;
}

#header-img {
    border-radius: 50%;
    border: solid 7px var(--color-black);
}

/***********************
*   Main
***********************/
main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    font-size: 1.2em;
}

.subpage-main {
    margin-top: -13rem;
    font-size: 1.1em;
}

.black-bg {
    background: var(--color-black);
}

.gray-bg {
    background: var(--color-gray);
}

.turq-bg {
    background: var(--color-turq);
}

.section-heading {
    font-size: 2em;
    margin-bottom: .3em;
    margin-top: 0;
}

.section-content {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

/***********************
*   Education
***********************/
#education-flexbox {
    display: flex;
    justify-content: space-between;
}

.class-heading {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: .5em;
}

.class-p {
    margin: 0;
    margin-bottom: 1em;
}

/***********************
*   Skills
***********************/
#skills-flexbox {
    display: flex;
    justify-content: space-between;
}

.skills-box b, .projects-box h4 {
    font-size: 1.3em;
}

/***********************
*   Projects
***********************/
#projects {
    background-image: url("images/backgrounds/circuit-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.projects-grid {
    display: grid;
    grid-template-columns: 60% 40%;
}

.projects-grid-left {
    grid-column: 1;
}

.projects-grid-right {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: right;
}


.projects-box {
    display: grid;
    margin-bottom: 2em;
    background: rgba(0, 0, 0, 60%);
}

.box-img {
    grid-column: 1;
    grid-row: 1/4;
    margin: 0 auto;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-left: 2rem;
    grid-row: 2;
}

.subpage-tag-list {
    margin-left: 0;
}

.lang-box-tag, .env-box-tag {
    padding: .3em;
    padding-left: .7em;
    padding-right: .7em;
    margin-right: .5em;
    margin-bottom: .5em;
    background: var(--color-turq);
    color: var(--color-white);
    font-weight: 500;
    font-size: .9em;
    border-radius: 1em;
}

.lang-box-tag {
    background: var(--color-turq);
    color: var(--color-white);
}

.env-box-tag {
    background: #2e2e2e;
    color: var(--color-white);
}

.box-heading {
    grid-row: 1;
    margin-top: 1em;
}

.box-p {
    grid-row: 3;
}

.box-heading, .box-p {
    padding-left: 2rem;
    padding-right: 2rem;
}

.subpage-box-p {
    padding-left: 0;
    margin-bottom: .1em;
}

.subpage-box-faded {
    color: rgb(179, 179, 179);
}

.projects-button {
    font-size: .9em;
}

/***********************
*   Carousels (so ugly don't look)
***********************/
.carousel-1, .carousel-2,
.carousel-3, .carousel-4 {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}
  
.carousel-1 .carousel-1-item,
.carousel-2 .carousel-2-item,
.carousel-3 .carousel-3-item,
.carousel-4 .carousel-4-item,
.carousel-1 .carousel-1-item-hidden,
.carousel-2 .carousel-2-item-hidden,
.carousel-3 .carousel-3-item-hidden,
.carousel-4 .carousel-4-item-hidden {
    display: none;
}

.carousel-1 .carousel-1-item img,
.carousel-2 .carousel-2-item img,
.carousel-3 .carousel-3-item img,
.carousel-4 .carousel-4-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel-1 .carousel-1-item-visible,
.carousel-2 .carousel-2-item-visible,
.carousel-3 .carousel-3-item-visible,
.carousel-4 .carousel-4-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel-1 .carousel-1-actions,
.carousel-2 .carousel-2-actions,
.carousel-3 .carousel-3-actions,
.carousel-4 .carousel-4-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-1 .carousel-1-actions button,
.carousel-2 .carousel-2-actions button,
.carousel-3 .carousel-3-actions button,
.carousel-4 .carousel-4-actions button {
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 30px;
    height: 40px;
}

.carousel-1 .carousel-1-actions #carousel-1-button-prev,
.carousel-1 .carousel-1-actions #carousel-1-button-next,
.carousel-2 .carousel-2-actions #carousel-2-button-prev,
.carousel-2 .carousel-2-actions #carousel-2-button-next,
.carousel-3 .carousel-3-actions #carousel-3-button-prev,
.carousel-3 .carousel-3-actions #carousel-3-button-next,
.carousel-4 .carousel-4-actions #carousel-4-button-prev,
.carousel-4 .carousel-4-actions #carousel-4-button-next {
    padding: 0;
    background: rgba(0, 0, 0, 75%);
}

.carousel-1 .carousel-1-actions #carousel-1-button-prev:hover,
.carousel-1 .carousel-1-actions #carousel-1-button-next:hover,
.carousel-2 .carousel-2-actions #carousel-2-button-prev:hover,
.carousel-2 .carousel-2-actions #carousel-2-button-next:hover,
.carousel-3 .carousel-3-actions #carousel-3-button-prev:hover,
.carousel-3 .carousel-3-actions #carousel-3-button-next:hover,
.carousel-4 .carousel-4-actions #carousel-4-button-prev:hover,
.carousel-4 .carousel-4-actions #carousel-4-button-next:hover {
    background: var(--color-black);
    color: var(--color-mint);
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: opacity ease;
    }
}

/***********************
*   Graphics
***********************/
#graphics-body img {
    pointer-events: none;
}

.banners-container {
    display: flex;
    flex-direction: column;
}

.banners-container img {
    margin-bottom: 1em;
    max-width: 100%;
}

.iracing-container {
    display: flex;
    justify-content: space-between;
}

.iracing-grid-1, 
.iracing-grid-2 {
   display: grid;
   max-width: 550px;
   gap: 1em;
}

.iracing-1 {
    grid-column: 1;
}

.iracing-2 {
    grid-column: 2;
}

.iracing-3 {
    grid-column: 1/3;
    grid-row: 2;
}


/***********************
*   Certificates
***********************/
.certificate-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.certificate-box {
    background: var(--color-black);
    text-align: center;
    margin-bottom: 1em;
}

.certificate-box-heading {
    font-weight: 400;
    margin: .5em;
}

/***********************
*   Footer
***********************/
footer {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 50% 50%;
}

#my-info {
    grid-column: 1;
}

#contact-me {
    grid-column: 2;
}

/***********************
*   Links
***********************/
#my-info-content {
    margin: 0;
    padding-left: 40%;
}

#contact-me-content {
    margin: 0;
    margin-left: 3em;
}

.social-item {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}

.social-item a:link {
    margin: 0;
    margin-left: .5em;
    color: var(--color-white);
    text-decoration: none;
}

.social-item a:visited {
    color: var(--color-white);
}

.social-item a:hover {
    color: var(--color-mint);
    text-decoration: underline;
    transition: all 300ms;
}

#copyright {
    margin-top: 6em;
    margin-bottom: 0;
    font-size: .9em;
}

/***********************
*   Contact Me
***********************/
.contact-form-box {
    display: block;
    width: 100%;
    height: 2em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white);
    background: var(--color-black);
    border: 0px solid var(--color-gray);
    border-bottom: 3px solid var(--color-white);
    margin-bottom: 1em;
    outline: none;
}

.contact-form-box:focus {
    border-bottom: 3px solid var(--color-mint);
}

.contact-form-box:hover {
    border-bottom: 3px solid var(--color-mint);
    transition: all 300ms;
}

.contact-form-grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 40% 60%;
    max-width: 28rem;
}

#text {
    grid-column: 1;
}

#email {
    grid-column: 2;
}

#message {
    grid-column: 1/3;
}

#submit-button {
    grid-column: 1;
    padding: 10px 10px;
    text-align: center;
}

/***********************
*   Resume Buttons
***********************/
button {
    background: var(--color-black);
    border: solid 3px var(--color-mint);
    color: white;
    font-weight: 500;
    padding: 10px 25px;
    text-align: center;
}

button:hover {
    background: var(--color-mint);
    color: var(--color-black);
    transition: all 300ms;
    cursor: pointer;
}

/***********************
*   Misc Styling
***********************/
.divider {
    width: 90px;
    height: 10px;
    background: var(--color-mint);
    margin-bottom: 2em;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-black);
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    border-radius: 4px;
}

/***********************
*   Medium Screens
***********************/
@media (max-width: 1200px) {
    .projects-box {
        max-width: 350px;
    }

    .box-img {
        grid-column: 1;
        grid-row: 1;
        margin: 0 auto;
    }

    .box-heading {
        grid-row: 2;
        margin-top: 1em;
    }

    .tag-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        padding-left: 0;
        margin: 0;
        margin-left: 2rem;
        grid-row: 3;
    }
    
    .box-p {
        grid-row: 4;
    }
    
    .box-heading, .box-p {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .menu {
        display: none;
    }
}

/***********************
*   Small Screens
***********************/
@media (max-width: 800px) {
    /* Header */
    #header-name {
        font-size: 2em;
    }

    #header-sub {
        font-size: 1.2em;
    }

    /* Navigation */
    nav {
        justify-content: space-between;
        align-items: center;
    }

    #hamburger-icon {
        padding: .5em;
    }
    
    .menu, .navigation li:first-child{
        display: block;
    }
    
    .navigation li {
        display: none;
    }

    .navigation {
        display: block;
        margin: 0;
    }

    .responsive li {
        /* Toggles with JS */
        display: block;
        margin-bottom: 1.5em;
    }

    .active-page {
        border-left: solid 6px var(--color-mint);
        border-bottom: solid 0px var(--color-mint);
    }

    .nav-link:hover {
        background: var(--color-gray);
        border-left: solid 6px var(--color-mint);
        border-bottom: solid 0px var(--color-mint);
        transition: background 300ms;
    }

    /* Content */
    .section-content {
        max-width: 80%;
    }

    #education-flexbox {
        flex-direction: column;
    }

    #skills-flexbox {
        flex-direction: column;
    }

    .box-img {
        max-width: 100%;
    }

    footer {
        display: block;
    }

    #my-info-content, #contact-me-content{
        margin: 0;
        padding-left: 2em;
    }

    #submit-button {
        grid-column: 1/3;
    }

    .contact-form-grid {
        display: block;
        max-width: 80%;
    }
}

@media (max-width: 1200px) {
    /* Projects Page*/
    .projects-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .projects-grid-right {
        margin-top: 1em;
    }

    .subpage-tag-list {
        margin-left: 0;
    }

    .logos-container img {
        margin-bottom: .5em;
    }

    .iracing-container {
        display: flex;
        flex-direction: column;
    }

    .iracing-container img {
        max-width: 100%;
    }

    .iracing-grid-2 {
        margin-top: 3em;
    }
}