/* Font: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Color pallet variables */
    --color-black: black;
    --color-gray: #151515;
    --color-turq: #013333;
    --color-mint: #00DCB4;
    --color-offw: #EDEFF5;
    --color-white: white;
  }

body {
    font-family: "Roboto", sans-serif;
    background: var(--color-black);
    color: var(--color-white);
}

.divider {
    width: 90px;
    height: 10px;
    background: var(--color-mint);
}