/* Fonts - Roboto & Kaushan Script*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colors */
:root {
    --color-black: black;
    --color-text: #080808;
    --color-blue: #002A3C;
    --color-green: #1F7655;
    --color-mint: #A7E2CE;
    --color-offw: #e8e8e8;
    --color-white: white;
}

/**************************************************************************
*                                 GENERAL
**************************************************************************/
body {
    background: var(--color-offw);
    font-family: "Roboto", sans-serif;
    color: var(--color-text);
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    background: var(--color-blue);
    font-size: 1.2em;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
}

.nav-logo {
    height: 45px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link, .nav-link:visited{
    color: var(--color-white);
    text-decoration: none;
    padding: 1em;
    padding-bottom: .8rem;
}

.nav-link:hover {
    color: var(--color-mint);
    transition: color 300ms;
}

.active-page {
    border-bottom: solid 6px var(--color-mint);
}

.header-background {
    background-image:
        linear-gradient(to left, var(--color-offw), rgba(255, 255, 255, 0)),
        url('images/banner-img.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
}

.header-content {
    position: absolute;
    left: 50%;
    top: 12%;
}

.banner-cursive {
    font-family: "Kaushan Script", sans-serif;
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-heading {
    font-weight: 300;
    font-style: italic;
    font-size: 4rem;
    margin: 0;
}

#banner-heading-1 {
    position: relative;
    left: 75px;
}

#banner-heading-2 {
    position: relative;
    left: 150px;
    margin-bottom: 1rem;
}

button {
    background-color: var(--color-green);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background: var(--color-mint);
    color: var(--color-blue);
    transition: all 300ms;
    cursor: pointer;
}

#header-button {
    position: relative;
    left: 175px;
    zoom: 125%;
}

.section-content {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.2em;
}

.section-heading {
    margin: 0;
    margin-bottom: .3em;
    font-size: 2em;
}

.divider {
    width: 70px;
    height: 10px;
    background: var(--color-green);
    margin-bottom: 2em;
}

.white-bg {
    background: var(--color-white);
}

.blue-bg {
    background: var(--color-blue);
    color: var(--color-white);
}

.menu {
    display: none;
}

/****************************
*         ABOUT US
****************************/
#about-us-p {
    font-size: 1.2em;
    line-height: 1.2em;
}


/****************************
*        SPOTLIGHT
****************************/
.spotlight {
    background-image: url("images/spotlight-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 2em;
}

#spotlight-boxes {
    display: flex;
    justify-content: space-between;
}

.spotlight-business {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border-radius: 5px;
}

.spotlight-business:hover {
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, .3));
    transition: all 200ms;
}

.business-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.business-heading, .business-desc, .business-web {
    margin: 1.5rem;
}

.business-desc, .business-web {
    margin-top: 0;
}

.spotlight-business a {
    color: var(--color-green);
}

.spotlight-business a:visited {
    color: var(--color-green);
}

/****************************
*          EVENTS
****************************/
.side-by-side {
    display: grid;
    grid-template-columns: 50% 50%;
}

#events-content {
    padding-left: 35%;
}

#weather-content {
    margin-left: 4em;
}

.events-box {
    padding: 0;
    border-top: 1px solid var(--color-offw);
    width: 75%;
    display: flex;
    margin-bottom: 1em;
}

.calendar-box {
    height: 65px;
    width: 75px;
    background: var(--color-offw);
    border-top: solid 10px var(--color-mint);
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}

.calendar-month {
    text-align: center;
    margin-top: 17px;
}

.calendar-days {
    margin-left: .5em;
}

.calendar-days ul li {
    list-style: none;
    margin-bottom: .5em;
}

/****************************
*          WEATHER
****************************/
.weather-heading {
    margin-top: 2em;
}

.weather-boxes {
    display: flex;
}

.weather-box {
    background: var(--color-mint);
    border-radius: 5px;
    color: var(--color-blue);
    width: 80px;
    height: 80px;
    text-align: center;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-temp {
    display: inline-block;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--color-green);
}

/****************************
*          FOOTER
****************************/
footer {
    display: flex;
    justify-content: space-between;
}

.social-icon {
    position: relative;
    bottom: 0;
    transition: bottom 200ms;
}

.social-icon:hover {
    bottom: 5px;
}

#footer-button {
    margin-top: 4em;
}

/**************************************************************************
*                                 TABLET
**************************************************************************/
@media (max-width: 1024px) {
    .header-background {
        background-image:
            linear-gradient(to top, var(--color-white), rgba(255, 255, 255, 0)),
            url('images/banner-img.jpg');
        background-size: 1000px;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 500px;
    }
    
    .header-content {
        position: absolute;
        left: 20%;
        filter: drop-shadow(0px 10px 10px rgba(255, 255, 255, 1));
        zoom: 90%;
    }

    #spotlight-boxes {
        display: flex;
        flex-direction: column;
    }

    .spotlight-business {
        background: var(--color-white);
        display: grid;
        grid-template-columns: 60% 40%;
        max-width: 90%;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }
    
    .business-img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        grid-column: 1;
        grid-row: 1 / 4;
    }
    
    .business-heading {
        grid-column: 2;
        margin-bottom: 0;
    }
    
    .business-desc {
        grid-column: 2;
        margin-bottom: .2em;
    }

    .business-web {
        grid-column: 2;
        margin-bottom: 0;
    }

    .side-by-side {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #events-content {
        grid-row: 1;
        padding-left: 0;
        padding-right: 0;
    }
    
    #weather-content {
        grid-row: 2;
        margin-left: 11rem;
    }
}

@media (max-width: 950px) {
    #spotlight-boxes {
        flex-direction: column;
    }

    .spotlight-business {
        background: var(--color-white);
        display: flex;
        flex-direction: column;
        max-width: 400px;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }
    
    .business-img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        grid-column: 1;
        grid-row: 1 / 4;
    }
    
    .business-heading {
        grid-column: 2;
        margin-bottom: 1em;
    }
    
    .business-desc {
        grid-column: 2;
        margin-bottom: 1em;
    }

    .business-web {
        grid-column: 2;
        margin-bottom: 1em;
    }
}

/**************************************************************************
*                                MOBILE
**************************************************************************/
@media (max-width: 700px) {
    .header-content {
        left: 15%;
        top: 25%;
        filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 1));
        zoom: 50%;
    }

    .section-content {
        max-width: 80%;
    }

    #about-us-p {
        font-size: 1em;
    }

    #header-button {
        zoom: 200%;
        left: 20%;
    }

    #weather-content {
        margin-left: 10%;
    }

    footer {
        display: grid;
    }

    nav {
        justify-content: space-between;
        align-items: center;
    }

    #hamburger-icon {
        width: 30px;
        margin: .5em;
        margin-right: 1em;
    }
    
    .menu, .navigation li:first-child{
        display: block;
    }
    
    .navigation li {
        display: none;
    }

    .navigation {
        display: block;
        margin: 0;
    }

    .responsive li {
        /* Toggles with JS */
        display: block;
        margin-bottom: 1.5em;
    }

    .active-page {
        border-left: solid 6px var(--color-mint);
        border-bottom: 0;
    }
}