/* Fonts - Roboto & Kaushan Script*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colors */
:root {
    --color-black: black;
    --color-text: #080808;
    --color-blue: #002A3C;
    --color-green: #1F7655;
    --color-mint: #A7E2CE;
    --color-offw: #e8e8e8;
    --color-white: white;
}

/**************************************************************************
*                                 GENERAL
**************************************************************************/
body {
    background: var(--color-offw);
    font-family: "Roboto", sans-serif;
    color: var(--color-text);
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    background: var(--color-blue);
    font-size: 1.2em;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
}

.nav-logo {
    height: 45px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link, .nav-link:visited{
    color: var(--color-white);
    text-decoration: none;
    padding: 1em;
    padding-bottom: .8rem;
}

.nav-link:hover {
    color: var(--color-mint);
    transition: color 300ms;
}

.active-page {
    border-bottom: solid 6px var(--color-mint);
}

.header-background {
    background-image:
        linear-gradient(to left, var(--color-offw), rgba(255, 255, 255, 0)),
        url('images/banner-img.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
}

.header-content {
    position: absolute;
    left: 50%;
    top: 12%;
}

.banner-cursive {
    font-family: "Kaushan Script", sans-serif;
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-blue);
}

.banner-heading {
    font-weight: 300;
    font-style: italic;
    font-size: 4rem;
    margin: 0;
}

#banner-heading-1 {
    position: relative;
    left: 75px;
}

#banner-heading-2 {
    position: relative;
    left: 150px;
    margin-bottom: 1rem;
}

button, #submit {
    background-color: var(--color-green);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover, #submit:hover {
    background: var(--color-mint);
    color: var(--color-blue);
    transition: all 300ms;
    cursor: pointer;
}

#header-button {
    position: relative;
    left: 175px;
    zoom: 125%;
}

.section-content {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.2em;
}

.section-heading {
    margin: 0;
    margin-bottom: .3em;
    font-size: 2em;
}

.divider {
    width: 70px;
    height: 10px;
    background: var(--color-green);
    margin-bottom: 2em;
}

.white-bg {
    background: var(--color-white);
}

.blue-bg {
    background: var(--color-blue);
    color: var(--color-white);
}

.menu {
    display: none;
}

/****************************
*         ABOUT US
****************************/
#about-us-p {
    font-size: 1.2em;
    line-height: 1.2em;
}

/****************************
*        SPOTLIGHT
****************************/
.spotlight {
    background-image: url("images/spotlight-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 2em;
}

#spotlight-boxes, #current-event-boxes {
    display: flex;
    justify-content: space-evenly;
}

.spotlight-business, .spotlight-event {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border-radius: 5px;
}

.spotlight-event {
    background: var(--color-offw);
}

.spotlight-business:hover, .spotlight-event:hover {
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, .3));
    transition: all 200ms;
}

.business-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.business-heading, .business-desc, .business-web,
.event-heading, .event-desc, .event-web {
    margin: 1.5rem;
}

.business-desc, .business-web,
.event-desc, .event-web {
    margin-top: 0;
}

.spotlight-business a, .spotlight-event a {
    color: var(--color-green);
}

.spotlight-business a:visited, .spotlight-event a:visited {
    color: var(--color-green);
}

/****************************
*          EVENTS
****************************/
.side-by-side {
    display: grid;
    grid-template-columns: 50% 50%;
}

#events-content, #contact-content {
    padding-left: 35%;
}

#weather-content, #map-content {
    margin-left: 4em;
}

.events-box {
    padding: 0;
    border-top: 1px solid var(--color-offw);
    width: 75%;
    display: flex;
    margin-bottom: 1em;
}

.calendar-box {
    height: 65px;
    width: 75px;
    background: var(--color-offw);
    border-top: solid 10px var(--color-mint);
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}

.calendar-month {
    text-align: center;
    margin-top: 17px;
}

.calendar-days {
    margin-left: .5em;
}

.calendar-days ul li {
    list-style: none;
    margin-bottom: .5em;
}

/****************************
*          WEATHER
****************************/
.weather-heading {
    margin-top: 2em;
}

.weather-boxes {
    display: flex;
}

.weather-box {
    background: var(--color-mint);
    border-radius: 5px;
    color: var(--color-blue);
    width: 80px;
    height: 80px;
    text-align: center;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-temp {
    display: inline-block;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--color-green);
}

/***************************************************
*                   BAKERSFIELD
***************************************************/
.subpage-header {
    position: relative;
    left: 0;
    top: 15%;
    display: flex;
    justify-content: center;
}

.subpage-header-bg {
    background-size: 1000px;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 250px;
}

.bakersfield-header-bg {
    background-image:
        linear-gradient(to left, var(--color-offw), rgba(255, 255, 255, 0)),
        url('images/bakersfield-banner.jpg');
}

.join-header-bg {
    background-image:
        linear-gradient(to left, var(--color-offw), rgba(255, 255, 255, 0)),
        url('images/join-banner.jpg');
}

.contact-header-bg {
    background-image:
        linear-gradient(to left, var(--color-offw), rgba(255, 255, 255, 0)),
        url('images/contact-banner.jpg');
}

.directory-header-bg {
    background-image:
        linear-gradient(to left, var(--color-offw), rgba(255, 255, 255, 0)),
        url('images/directory-banner.jpg');
}

.history-flexbox {
    display: flex;
    align-items: center;
    margin-top: -2em;
}

#city-seal-img {
    padding: 1em;
}

.demo-boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.demo-box {
    background: var(--color-white);
    color: var(--color-blue);
    border-radius: 10px;
    padding: 0em 5em 0em 5em;
    text-align: center;
    margin-bottom: 1em;
}

.demo-box:nth-child(even) {
    background: var(--color-blue);
    color: var(--color-white);
}

#fun-facts-list {
    line-height: 2em;
}

/***************************************************
*                      JOIN
***************************************************/
.membership-box {
    padding: 0em .5em 0em .5em;
    width: 20%;
    height: 100%;
}

.perks-list {
    padding: 1em;
    padding-left: 2em;
    border-radius: 5px;
    text-align: left;
    line-height: 1.5em;
    background: rgba(255, 255, 255, .75);
    box-shadow: inset 0 0 10px #bebebe;
}

#gold {
    background: rgb(181,152,0);
    background: linear-gradient(0deg, rgba(181,152,0,1) 0%, rgba(238,216,58,1) 43%, rgba(254,255,91,1) 66%, rgba(212,200,17,1) 100%);
    color: black;
}

#silver {
    background: rgb(176,176,176);
    background: linear-gradient(0deg, rgba(176,176,176,1) 0%, rgba(232,232,232,1) 43%, rgba(255,255,255,1) 66%, rgba(207,207,207,1) 100%);
    color: black;
}

#bronze {
    background: rgb(200,131,0);
    background: linear-gradient(0deg, rgba(200,131,0,1) 0%, rgba(219,150,0,1) 43%, rgba(231,209,116,1) 66%, rgba(198,169,0,1) 100%);
    color: black;
}

#non-profit {
    background: var(--color-blue);
    color: var(--color-text);
}

#non-profit h3 {
    color: white;
}

/****************************
*     APPLCIATION FORM
****************************/
#application-form {
    display: flex;
    justify-content: space-evenly;
}

.app-left, .app-right {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.form-box {
    /* width: 300px; */
    height: 2em;
    font-size: 1em;
    font-weight: 300;
    color: var(--color-white);
    background: var(--color-blue);
    border: 0px solid;
    border-bottom: 3px solid var(--color-mint);
    margin-bottom: 2em;
    outline: none;
}

.form-box:focus {
    border-bottom: 3px solid var(--color-green);
}

.form-box:hover {
    border-bottom: 3px solid var(--color-green);
    transition: all 300ms;
}

.app-name label {
    margin-top: .8em;
}

#membership-level {
    display: flex;
    flex-direction: column;
}

#membership-level input {
    margin-bottom: 1em;
}

#submit {
    margin-top: 1em;
    width: 200px;
}

.board-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em; 
    margin-bottom: 2em;
}

.board-card {
    background: mint;
    border: solid 2px var(--color-mint);
    border-radius: 10px;
    text-align: center;
}

.board-name {
    color: var(--color-green);
    font-weight: 500;
}

/***************************************************
*                    DIRECTORY
***************************************************/
.directory-button-box {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -100px;
}

#left-button img, #right-button img {
    width: 30px;
    user-select: none;
}

#left-button {
    border: solid 2px var(--color-offw);
    border-right: solid 1px var(--color-offw);
    border-radius: 10px 0px 0px 10px;
    padding: .3em;
}

#right-button {
    border: solid 2px var(--color-offw);
    border-left: solid 1px var(--color-offw);
    border-radius: 0px 10px 10px 0px;
    padding: .3em;
}

/***************************************************
*                     CONTACT
***************************************************/
#contact-form {
    display: flex;
    justify-content: space-evenly;
}

.contact-box {
    /* width: 300px; */
    height: 2em;
    font-size: 1em;
    font-weight: 300;
    color: var(--color-text);
    background: var(--color-offw);
    border: 0px solid;
    border-bottom: 3px solid var(--color-blue);
    margin-bottom: 2em;
    outline: none;
}

.contact-box:focus {
    border-bottom: 3px solid var(--color-green);
}

.contact-box:hover {
    border-bottom: 3px solid var(--color-green);
    transition: all 300ms;
}

/****************************
*          FOOTER
****************************/
footer {
    display: flex;
    justify-content: space-between;
}

.social-icon {
    position: relative;
    bottom: 0;
    transition: bottom 200ms;
}

.social-icon:hover {
    bottom: 5px;
}

#footer-button {
    margin-top: 2em;
}

#last-updated {
    font-size: .9em;
    padding-top: .5em;
}

/**************************************************************************
*                                 TABLET
**************************************************************************/
@media (max-width: 1024px) {
    .header-background {
        background-image:
            linear-gradient(to top, var(--color-white), rgba(255, 255, 255, 0)),
            url('images/banner-img.jpg');
        background-size: 1000px;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 500px;
    }
    
    .header-content {
        position: absolute;
        left: 20%;
        filter: drop-shadow(0px 10px 10px rgba(255, 255, 255, 1));
        zoom: 90%;
    }

    #spotlight-boxes {
        display: flex;
        flex-direction: column;
    }

    .spotlight-business {
        background: var(--color-white);
        display: grid;
        grid-template-columns: 60% 40%;
        max-width: 90%;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }
    
    .business-img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        grid-column: 1;
        grid-row: 1 / 4;
    }
    
    .business-heading {
        grid-column: 2;
        margin-bottom: 0;
    }
    
    .business-desc {
        grid-column: 2;
        margin-bottom: .2em;
    }

    .business-web {
        grid-column: 2;
        margin-bottom: 0;
    }

    .side-by-side {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #events-content {
        grid-row: 1;
        padding-left: 0;
        padding-right: 0;
    }
    
    #weather-content {
        grid-row: 2;
        margin-left: 11rem;
    }
}

@media (max-width: 950px) {
    #spotlight-boxes {
        flex-direction: column;
    }

    .spotlight-business {
        background: var(--color-white);
        display: flex;
        flex-direction: column;
        max-width: 400px;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }
    
    .business-img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        grid-column: 1;
        grid-row: 1 / 4;
    }
    
    .business-heading {
        grid-column: 2;
        margin-bottom: 1em;
    }
    
    .business-desc {
        grid-column: 2;
        margin-bottom: 1em;
    }

    .business-web {
        grid-column: 2;
        margin-bottom: 1em;
    }
}

/**************************************************************************
*                                MOBILE
**************************************************************************/
@media (max-width: 700px) {
    .header-content {
        left: 15%;
        top: 25%;
        filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 1));
        zoom: 50%;
    }

    .section-content {
        max-width: 80%;
    }

    #about-us-p {
        font-size: 1em;
    }

    #header-button {
        zoom: 200%;
        left: 20%;
    }

    #weather-content {
        margin-left: 10%;
    }

    footer {
        display: grid;
    }

    nav {
        justify-content: space-between;
        align-items: center;
    }

    #hamburger-icon {
        width: 30px;
        margin: .5em;
        margin-right: 1em;
    }
    
    .menu, .navigation li:first-child{
        display: block;
    }
    
    .navigation li {
        display: none;
    }

    .navigation {
        display: block;
        margin: 0;
    }

    .responsive li {
        /* Toggles with JS */
        display: block;
        margin-bottom: 1.5em;
    }

    .active-page {
        border-left: solid 6px var(--color-mint);
        border-bottom: 0;
    }
}