/* Varela Round - Site logo & Headings*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* Open Sans - Paragraphs*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Varela+Round&display=swap');


/*****************************************************************
*                           General
******************************************************************/
body {
    text-align: center;
    background: #e8e8e8;
    font-family: "Open Sans", sans-serif;
    color: #666666;
}

#header-logo {
    padding-top: 1em;
}

header {
    display: flex;
    justify-content: center;
    background: white;
}

nav {
    margin: 0;
    background: white;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
}

li {
    padding: .5em;
    margin-bottom: 0;
}

li:hover {
    background: #e8e8e8;
    border-radius: 10px;
    transition: background 300ms;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #00bcbf;
    transition: text-decoration, color 300ms;
}

footer {
    font-size: .8em;
}